.card {
    width: 60vw;
    height: 300px;
    position: relative;
    transition: all 600ms;
    margin: 5px;

    &:hover {
        transform: scale(1.02);
    }

    .cardImage {
        width: 40%;
        height: auto;
        max-height: 300px;

        img {
            width: 100%;
            height: auto;
            max-height: 300px;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    .cardInfo {
        position: absolute;
        width: auto;
        text-align: right;
        top: 0;
        right: 0;
        left: 30%;

        h3 {
            text-align: right;
        }

        .paragraph {
            width: 100%;
            max-height: 180px;
            background-color: rgba(0, 39, 90, 0.7);
            backdrop-filter: blur(5px);
            text-align: right;
            border-radius: 5px;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 10px;
            margin: 20px 0 10px;

            p {
                text-align: right;
                line-height: 1.5;
            }
        }

        .skillTags {
            margin-top: 5px;
            ul {
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;

                li {
                    height: 25px;
                    min-width: 50px;
                    list-style: none;
                    padding: 5px 10px;
                    background-color: rgb(12, 53, 114);
                    color: #fff;
                    border-radius: 5px;
                    font-size: 0.7em;
                    letter-spacing: 0.1em;
                    text-align: center;
                    margin: 2.5px;
                }
            }
        }

        .worksLinks {
            margin-top: 10px;
            display: flex;
            gap: 5px;
            justify-content: flex-end;
            a {
                display: flex;
                gap: 5px;

                img {
                    width: 24px;
                    height: auto;
                }

                p {
                    display: none;
                    color: #000;
                }
            }
        }

        .showMore {
            display: none;
        }
    }
}

@media (max-width: 1150px) {
    .card {
        .cardContainer {
            .cardImage {
                width: 50%;
            }
        }
    }
}

@media (max-width: 768px) {
    .card {
        &.modal {
            height: 100%;
            transition: all 1s;

            .cardImage {
                width: 100%;
                max-width: 100px;
                height: auto;
                max-height: 300px;

                img {
                    width: 100%;
                    height: 100%;
                    max-height: unset;
                    object-fit: cover;
                    border-radius: 0px;
                }
            }

            .cardInfo {
                .information {
                    .skillTags {
                        display: flex;
                        justify-content: flex-start;

                        ul {
                            justify-content: flex-start;
                            li {
                                height: 22px;
                                padding: 0 10px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }

                .worksLinks {
                    display: inline-flex;
                    padding: 0 10px;
                    margin: 10px 0 0 0;
                }
            }
        }

        width: 100%;
        height: 100px;
        min-height: 100px;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }

        .cardImage {
            width: 100%;
            max-width: 100px;
            height: auto;
            max-height: 300px;

            img {
                width: 100%;
                height: 100%;
                max-height: unset;
                object-fit: cover;
                border-radius: 0px;
            }
        }

        .cardInfo {
            position: relative;
            width: 100%;
            text-align: left;
            left: unset;

            .information {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 10px;

                h3 {
                    text-align: left;
                    margin-top: 0;
                    color: #fff;
                    font-size: 15px;
                }

                .paragraph {
                    background-color: rgba(0, 39, 90, 0);
                    backdrop-filter: blur(0px);
                    color: #fff;
                    padding: 0;
                    margin-top: 5px;

                    p {
                        font-size: 13px;
                        text-align: left;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}
