.firstScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 60px);
    margin-bottom: 0;
    overflow: hidden;

    img {
        width: 100vw;
        height: 100vh;
        z-index: -1;
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    h1 {
        font-size: 70px;
        color: rgb(255, 255, 255);
        letter-spacing: 0.2em;
        transform: translate(0, -60px);
        border: 3px solid #fff;
        padding: 25px;
        backdrop-filter: blur(5px);
    }

    .arrow {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        top: 95%;
        z-index: 1000;
        fill: #fff;
        animation-name: arrow-animation;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }
}

@keyframes arrow-animation {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, -20px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

section {
    padding: 80px 20vw 0 20vw;
    margin-bottom: 0;

    h2 {
        color: #1c4280;
        font-size: 60px;
        align-self: flex-start;
        margin-left: -5vw;
        margin-bottom: 50px;

        &:after {
            content: "";
            width: 150px;
            height: 2px;
            margin: 10px 0 0 50px;
            background-color: #fff;
            z-index: 1;
        }
    }
}

.aboutMe {
    display: flex;
    flex-direction: column;

    .information {
        width: 100%;
        display: flex;
        margin-top: 30px;
        gap: 20px;
        flex-direction: row;

        .image {
            min-width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 1px solid #fff;

            img {
                object-fit: cover;
            }
        }

        p {
            width: 100%;
            font-size: 1.3rem;
        }
    }
}

.experience {
    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }
}

.works {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.getInTouch {
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;

        input,
        textarea {
            width: 100%;
            background-color: transparent;
            color: #fff;
            padding: 5px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 1px solid #fff;
            font-size: 1.2rem;
            outline-style: none;
            margin-bottom: 10px;

            &:focus {
                border-bottom: 1px solid #8f8f8f;
            }
        }

        textarea {
            font-family: roboto;
        }

        button {
            width: 100%;
            background-color: transparent;
            color: #fff;
            padding: 15px;
            border: 1px solid #fff;
            border-radius: 5px;

            &:hover {
                border: 1px solid linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
            }
        }
    }
}

@media (max-width: 1230px) {
    .firstScreen {
        h1 {
            font-size: 55px;
        }
    }
}

@media (max-width: 1024px) {
    .firstScreen {
        h1 {
            font-size: 40px;
        }
    }

    .aboutMe {
        .information {
            flex-direction: column;

            .image {
                width: 300px;
                height: 300px;
                align-self: center;
            }

            p {
                text-align: center;
            }
        }
    }

    .getInTouch {
        form {
            width: 90%;
        }
    }
}

@media (max-width: 764px) {
    .firstScreen {
        h1 {
            font-size: 36px;
        }
    }

    section {
        padding: 80px 10vw 0 10vw;
        margin-bottom: 0;
    }

    .aboutMe {
        .information {
            margin-top: 0;
            .image {
                min-width: 200px;
                width: unset;
                height: 200px;
                border-radius: 50%;
                border: 1px solid #fff;
            }

            p {
                width: 100%;
                font-size: 1rem;
            }
        }
    }

    .works {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .getInTouch {
        form {
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .firstScreen {
        h1 {
            font-size: 25px;
        }
    }
}

.fadeTop {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: opacity 1s, transform 1s;
}

.fadeRight {
    opacity: 0;
    transform: translate(10vh, 0vh);
    transition: opacity 1s, transform 1s;
}

.fadeLeft {
    opacity: 0;
    transform: translate(-10vh, 0vh);
    transition: opacity 1s, transform 1s;
}

.visible {
    opacity: 1;
    transform: translate(0, 0);
}
