section {
    padding: 80px 20vw 0 20vw;
    margin-bottom: 0;

    h2 {
        color: #ffffff;
        font-size: 60px;
        margin-left: -5vw;
        margin-bottom: 30px;
    }
}

.firstScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 60px);
    margin-bottom: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(10, 25, 47, 1) 95%, rgba(10, 25, 47, 1) 100%);
    padding-left: 10vw;
    padding-right: 10vw;

    img {
        width: 100vw;
        height: 100vh;
        z-index: -1;
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .headingContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        margin-top: -150px;

        span {
            font-size: 50px;
            font-weight: bold;
            color: rgb(255, 255, 255);
        }

        h1 {
            font-size: 65px;
            color: rgb(255, 255, 255);
            letter-spacing: 0.2em;
            margin: 25px 0;
            border: 3px solid #fff;
            padding: 25px;
            backdrop-filter: blur(5px);
            font-weight: bold;
        }
    }

    .arrow {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        top: 95%;
        z-index: 1;
        fill: #fff;
        animation-name: arrow-animation;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }
}

.aboutMe {
    display: flex;
    flex-direction: column;

    .information {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .image {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            border: 1px solid #fff;

            img {
                object-fit: cover;
            }
        }

        p {
            margin-top: 40px;
            width: 100%;
            font-size: 1.3rem;
            line-height: 1.7;
            text-align: center;
        }
    }
}

.experience {
    > ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        > li {
            color: #fff;
        }
    }
}

.certificate {
    display: flex;
    flex-direction: column;
    .slider {
        width: 90%;
        margin: auto;
        text-align: center;

        img {
            margin: auto;
            width: 85%;
            height: auto;
        }
    }
}

.works {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .projectContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.getInTouch {
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        align-self: flex-start;
    }
}

@media (max-width: 1400px) {
    .firstScreen {
        .headingContainer {
            span {
                font-size: 25px;
            }

            h1 {
                font-size: 35px;
            }
        }
    }
}

@media (max-width: 1230px) {
    .firstScreen {
        .headingContainer {
            span {
                font-size: 40px;
            }

            h1 {
                font-size: 50px;
            }
        }
    }

    .certificate {
        .slider {
            width: 100%;

            img {
                margin: auto;
                width: 100%;
                height: auto;
            }
        }
    }
}

@media (max-width: 1024px) {
    .firstScreen {
        .headingContainer {
            span {
                font-size: 30px;
            }

            h1 {
                font-size: 40px;
            }
        }
    }

    .aboutMe {
        .information {
            flex-direction: column;

            .image {
                width: 300px;
                height: 300px;
                align-self: center;
            }

            p {
                margin-left: 0;
                margin-top: 20px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .firstScreen {
        .headingContainer {
            span {
                font-size: 30px;
            }

            h1 {
                font-size: 35px;
                margin: 10px 0;
                padding: 15px;
            }
        }
    }

    section {
        padding: 80px 10vw 0 10vw;
        margin-bottom: 0;

        h2 {
            margin-left: 0;
            font-size: 40px;
            text-align: center;
        }
    }

    .aboutMe {
        .information {
            margin-top: 0;
            .image {
                min-width: 200px;
                width: unset;
                height: 200px;
                border-radius: 50%;
                border: 1px solid #fff;
            }

            p {
                width: 100%;
                font-size: 1rem;
            }
        }
    }

    .works {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .GetInTouch {
        h2 {
            align-self: center;
        }
    }
}

@media (max-width: 600px) {
    .firstScreen {
        .headingContainer {
            span {
                font-size: 25px;
            }

            h1 {
                font-size: 30px;
                padding: 10px;
            }
        }
    }
}

@media (max-width: 450px) {
    .firstScreen {
        .headingContainer {
            span {
                font-size: 20px;
            }

            h1 {
                font-size: 25px;
                padding: 10px;
            }
        }
    }
}

@media (max-width: 400px) {
    .firstScreen {
        .headingContainer {
            span {
                font-size: 20px;
            }

            h1 {
                font-size: 20px;
                padding: 10px;
            }
        }
    }
}

.fadeTop {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: opacity 1s, transform 1s;
}

.fadeRight {
    opacity: 0;
    transform: translate(10vh, 0vh);
    transition: opacity 1s, transform 1s;
}

.fadeLeft {
    opacity: 0;
    transform: translate(-10vh, 0vh);
    transition: opacity 1s, transform 1s;
}

.visible {
    opacity: 1;
    transform: translate(0, 0);
}

@keyframes arrow-animation {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, -20px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
