form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    transition: opacity 250ms, margin-top 250ms;

    input,
    textarea {
        width: 100%;
        background-color: transparent;
        color: #fff;
        padding: 5px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid #fff;
        font-size: 1rem;
        outline-style: none;
        margin-bottom: 10px;

        &:focus {
            border-bottom: 1px solid #8f8f8f;
        }
    }

    input:focus,
    textarea:focus {
        border-bottom-color: #31a052;
    }

    input,
    textarea {
        &.error {
            border-bottom-color: #ff0000;
        }
    }

    span {
        &.error {
            margin-top: -20px;
            font-size: 0.8em;
            color: #ff0000;
        }
    }

    textarea {
        font-family: roboto;
    }

    .button {
        width: 100%;
        height: 50px;
        background-color: transparent;
        color: #fff;
        padding: 15px;
        border: 1px solid #fff;
        border-radius: 5px;
        transition: background-color 250ms;

        &:hover {
            border: 1px solid linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
        }

        &.loading {
            background-color: #154e99;
        }

        &.submitted {
            background-color: #0b6818;
        }

        > span,
        > div,
        > .successMessage {
            opacity: 0;
            transition: opacity 250ms;
            display: none;

            &.showMessage,
            &.showSuccess,
            &.showSpinner {
                opacity: 1;
                display: inline;
            }
        }
    }

    // &.hideForm {
    //     opacity: 0;
    //     margin-top: 0;
    // }
}

.formSuccessContainer {
    transition: opacity 250ms, margin-top 250ms;
    margin-top: -20px;
    opacity: 1;

    &.success {
        margin-top: 0;
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    form {
        width: 90%;
    }
}

@media (max-width: 768px) {
    form {
        width: 100%;
    }
}
