li {
    &.experienceCard {
        width: 80%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        line-height: 1.2;
        position: relative;
        overflow: hidden;
        transition: transform 600ms, background-color 300ms, transform 250ms;
        box-shadow: 10px 10px 43px -19px rgb(0, 0, 0);
        text-align: left;
        color: #1b1b1b;
        backdrop-filter: blur(5px);
        margin: 0 0 15px 0;

        &:last-child {
            margin: 0 0 0 0;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
            // transform: translate(10px, 0);
            transform: scale(1.03);
        }

        &:not(:first-child) {
            &:before {
                content: "";
                position: absolute;
                top: -20px;
                left: 50%;
                max-width: 2px;
                height: 50px;
                background-color: #fff;
            }
        }

        > span,
        > p {
            margin-bottom: 15px;
        }

        .period {
            margin-bottom: 5px;
        }

        .heading {
            font-size: 2rem;
            font-weight: bold;
            line-height: 1.2;
        }

        p {
            font-size: 1rem;
        }

        &:before {
            width: 50px;
            height: 50px;
            background-color: #fff;
            margin: -30px;
        }
    }

    &.left {
        align-self: flex-end;
    }
}

@media (max-width: 768px) {
    li {
        &.experienceCard {
            width: 100%;
            max-width: unset;

            &:hover {
                transform: unset;
            }
        }
    }
}

@media (max-width: 600px) {
    li {
        &.experienceCard {
            width: unset;
            height: 100%;
            min-width: 300px;
            margin: 0 15px 0 0;

            &:last-child {
                margin: 0 0 0 0;
            }

            .heading {
                font-size: 1.5rem;
            }

            p {
                font-size: 0.8rem;
                line-height: 1.5;
            }
        }

        &.left {
            align-self: unset;
        }
    }
}
