li {
    &.experienceCard {
        width: 80%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        line-height: 1.2;
        position: relative;
        overflow: hidden;
        transition: transform 600ms, background-color 300ms;
        margin: 15px 0;

        &:first-child {
            margin: 0 0 15px 0;
        }

        &:last-child {
            margin: 15px 0 0 0;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
            transform: translate(10px, 0);
        }

        &:not(:first-child) {
            &:before {
                content: "";
                position: absolute;
                top: -20px;
                left: 50%;
                max-width: 2px;
                height: 50px;
                background-color: #fff;
            }
        }

        > span,
        > p {
            margin-bottom: 15px;
        }

        .period {
            margin-bottom: 5px;
        }

        .heading {
            font-size: 2rem;
            font-weight: bold;
            line-height: 0.8;
        }

        p {
            font-size: 1rem;
        }

        ul {
            &.experienceSkill {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                li {
                    min-width: 70px;
                    padding: 5px 10px;
                    border: 0;
                    background-color: #2b4775;
                    font-size: 0.7rem;
                    border-radius: 5px;
                    text-align: center;
                    line-height: 1.2;
                    list-style: none;
                    margin: 2.5px;
                }
            }
        }

        &:before {
            width: 50px;
            height: 50px;
            background-color: #fff;
            margin: -30px;
        }
    }

    &.left {
        align-self: flex-end;

        &:before {
            content: "";
            position: absolute;
            top: -20px;
            left: 100px;
            max-width: 2px;
            height: 50px;
            background-color: #fff;
        }
    }
}

@media (max-width: 768px) {
    li {
        &.experienceCard {
            width: 100%;
            max-width: unset;

            &:hover {
                transform: unset;
            }
        }
    }
}
